.widget-container {
    display: flex;
    height: auto;
    padding: 0rem 4rem 0rem 4rem;
    min-height: 30rem;
}

.profile-container {
    flex: 1;
    overflow: hidden;
}

.profile-container div {
    text-align: center;
    justify-content: space-around;
}

.date-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.date {
    font-size: 3rem;
    font-weight: 700;
}

.misc-widget-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0rem 0rem 0rem 2rem;
    min-height: 30rem;
}

.workout-widgets {
    display: flex;
    flex: 1;
    gap: 1rem;
    min-height: 12rem;
}

.workout-widgets div {
    flex: 1;
}

.inspiration-widget {
    flex: 2;
    padding: 3rem 0rem 0rem 0rem;
    max-height: 21rem;
}

@media screen and (max-width: 675px) {
    .widget-container {
        display: flex;
        height: auto;
        padding: 0rem 2rem 0rem 2rem;
        min-height: 30rem;
        flex-direction: column;
    }

    .workout-widgets {
        gap: 3rem;
        flex-direction: column;
        min-height: 30rem;
    }

    .misc-widget-container {
        height: auto;
        padding: 0rem;
        margin-top: 3rem;
    }

}

@media screen and (max-width: 760px) {
    .date-title {
        font-size: 1.75rem;
        font-weight: 700;
    }

    .date {
        font-size: 1.5rem;
    }

}