.heading {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 0 1.25rem 0;
    padding: 2rem 4rem 2rem 4rem;
}

@media screen and (max-width: 675px) {
    .heading {
        padding: 2rem;
    }
}