.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    border: 4px solid black;
    height: 100%;
}

.widget h1 {
    text-align: center;
    font-size: 1.8rem;
}