.active-workout {
    display: flex;
    flex-direction: column;
    padding: 0 4rem 2rem 4rem;
}

.workout-title-input {
    background-color: transparent;
    height: 2rem;
    width: 20rem;
    border-radius: 0px;
    border: none;
    font-size: 1.65rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.workout-title-input:focus {
    outline: none;
}

.workout-title-input:hover {
    border-radius: 8px;
    border: 2px solid black;
}

.workout-timer {
    font-size: 1.25rem;
    padding: .5rem 0 .5rem 0;
}

.active-buttons > * {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #183d50;
    color: white;
    margin: 2rem 1rem 1rem 0;
    cursor: pointer;
    font-family: "Play", sans-serif;
}

.exercises-list {
    padding: 3rem 0 0 0;
}