.exercise-list {
    list-style: none;
    padding: 0;
    margin: 2rem 4rem;
}

.exercise-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1.5rem 0;
    padding: .5rem;
    font-family: "Play", sans-serif;
    border-radius: 10px;
    background-color: #3a3838;
    color: white;
    height: 3.5rem;
    font-size: .9rem;
    width: 24%;
    text-align: center;
    word-break: keep-all;
    cursor: pointer;
    overflow: hidden;
}

.exercise-list-item:hover {
    background-color: #276f91;
}

.cancel {
    margin: 0 4rem 0 4rem;
}

.cancel button {
    height: 2.5rem;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    text-align-last: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    letter-spacing: 1px;
    overflow: hidden;
    background-color: rgb(154, 13, 13);
    color: white;
}

@media screen and (max-width: 675px) {
    .exercise-list {
        margin: 0 2rem 2rem 2rem;
    }

    .exercise-list-item {
        font-size: .65rem;
    }

    .cancel {
        margin: 0 2rem 2rem 2rem;
    }

    .cancel button {
        font-size: .75rem;
    }
}