.template {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(61, 61, 61, 0.2) 0px 8px 20px 0px;
  border-radius: 18px;
  height: auto;
  min-height: 12rem;
  padding: 1rem 1.25rem 0.65rem 1.25rem;
  font-family: "Play", sans-serif;
}

.template-buttons {
  display: flex;
  justify-content: space-between;
}

.start-from-template,
.delete-template {
  border-radius: 8px;
  border: none;
  color: white;
  margin-top: 1rem;
  height: 1.75rem;
  width: 5rem;
  cursor: pointer;
  font-family: "Play", sans-serif;
}

.start-from-template {
  background-color: rgb(91, 57, 116);
  width: 8rem;
}

.delete-template {
  background-color: rgb(154, 13, 13);
}

.exercise-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.exercise-left,
.exercise-right {
  flex: 1;
}

.exercise-left {
  text-align: left;
  font-weight: bold;
}

.exercise-right {
  text-align: right;
  font-style: italic;
}
