.workout-exercise {
    margin-bottom: 2rem;
}

.workout-exercise h2 {
    font-family: "Play", sans-serif;
    margin-bottom: .25rem;
    max-width: 20rem;
}

.workout-exercise label {
    font-family: "Inter", sans-serif;
    margin-right: .5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.workout-exercise input {
    width: 4rem;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 2px;
    margin-right: .75rem;
    font-size: 1.25rem;
}

.exercise-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.exercise-title button {
    border: none;
    border-radius: 5px;
    background-color: rgb(154, 13, 13);
    color: white;
    font-family: "Play", sans-serif;
    height: 1.75rem;
    width: 8rem;
    cursor: pointer;
    margin-left: 2rem;
}

.set-row {
    font-size: 16px;
    margin-bottom: .5rem;
}

.remove-set {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.25rem;
    width: 5rem;
    cursor: pointer;
}

.add-set {
    border-radius: 5px;
    border: none;
    background-color: rgb(91, 57, 116);
    color: white;
    font-size: 1.2rem;
    font-family: "Play", sans-serif;
    margin-top: 1rem;
    height: 1.75rem;
    width: 8rem;
    cursor: pointer;
}

@media screen and (max-width: 675px) {
    .workout-exercise h2 {
        font-size: 1.25rem;
        max-width: 10rem;
    }

    .workout-exercise label {
        font-size: .8rem; 
    }

    .workout-exercise input {
        font-size: .8rem;
        width: 3rem;
    }

    .exercise-title button {
        font-size: .6rem;
    }

    .remove-set {
        font-size: .8rem;
        width: 3rem;
    }

    .add-set {
        font-size: 1rem;
        width: 100%;
    }

    .remove-set {
        margin: .65rem 0 .65rem 0;
        width: 100%;
    }

}