.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    border: 4px solid black;
    height: 100%;
    overflow: hidden;
}

.widget h1 {
    text-align: center;
    font-size: 1.8rem;
    max-height: 3rem;
}

@media screen and (max-width: 760px) {
    .widget h1 {
        font-size: 1.4rem;
    }
}